<div *ngIf="showButton">
  <button (click)="search(false)" mat-raised-button color="primary">Create New Report</button>
</div>
<div *ngIf="!showButton">
  <div class=" example-container">
    <mat-form-field>
      <input matInput placeholder="Search Part Number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Search Plan Id">
    </mat-form-field>

    <!-- <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field> -->
  </div>


  <button [routerLink]="['/part-info']" mat-raised-button color="primary">Search</button>

  <button (click)="search(true)" mat-raised-button color="warn">Go Back</button>
</div>